<launch>

  <arg name="dir_path" default="$(find bwi_kr)/config/simulation" />
  <arg name="map_file" default="$(find utexas_gdc)/maps/3ne.yaml" />
  <arg name="location_file" default="$(arg dir_path)/locations.yaml" />
  <arg name="door_file" default="$(arg dir_path)/doors.yaml" />

  <!-- Some general parameters -->
  <param name="use_sim_time" value="true" />
<!--   <rosparam file="$(find bwi_nav2d)/param/ros.yaml"/> -->

  <!-- launch gazebo simulation environment and map server -->
<!--   <include file="$(find utexas_gdc)/launch/3ne.launch" /> -->

  <!-- launch the base robot + autonomous navigation -->
  <include file="$(find segbot_gazebo)/launch/multiple_segbots.launch" />

  <node name="R0_MapAlign" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /robot_0/map 100"/>

  <node name="R1_MapAlign" pkg="tf" type="static_transform_publisher" args="40 0 0 0 0 0 /map /robot_1/map 100"/>

  <!-- Start the Operator to control the simulated robot -->
<!--   <node name="Operator" pkg="nav2d_operator" type="operator" >
    <rosparam file="$(find bwi_nav2d)/param/operator.yaml"/>
    <rosparam file="$(find bwi_nav2d)/param/costmap.yaml" ns="local_map" />
  </node> -->

  <!-- Start Mapper to genreate map from laser scans -->
<!--   <node name="Mapper" pkg="nav2d_karto" type="mapper">
    <rosparam file="$(find bwi_nav2d)/param/mapper.yaml"/>
  </node> -->

  <!-- Start the Navigator to move the robot autonomously -->
<!--   <node name="Navigator" pkg="nav2d_navigator" type="navigator">
    <rosparam file="$(find bwi_nav2d)/param/navigator.yaml"/>
  </node> -->

<!--   <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
  <node name="Explore" pkg="nav2d_navigator" type="explore_client" />
  <node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" /> -->

  <!-- launch the simulation door handler -->
  <!--
  <include file="$(find segbot_simulation_apps)/launch/door_handler.launch">
    <arg name="door_file" value="$(arg door_file)" />
  </include>
  -->

  <!-- Pioneer model for fancy visualization -->
  <!-- Comment this out if you do not have the package 'p2os' available! -->
  <!--<include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch" /> -->

  <!-- Start the joystick-driver and remote-controller for operation-->
  <!-- <node name="emulate_joy" pkg="bwi_nav2d" type="emulate_joy" /> -->

  <!-- RVIZ to view the visualization -->
  <include file="$(find bwi_nav2d)/launch/rviz.launch" />

</launch>
